<!DOCTYPE html>
<html lang="en-US" ng-app="test">

<head>
	<script src="angular.min.js"></script>
	<script src="script.js"></script>
	<link href="style1.css" rel="stylesheet" />
</head>

<body ng-controller="myapp">
	<div>
		<button id="bottom" ng-click="scrollTo('top')">
			goto the top</button>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
		<p>
			leelallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			leelalllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
			lnjdgjkgsjdhfjshfkh
		</p>
	</div>
	<br/>
	<br/>
	<button id="bottom" ng-click="scrollTo('top')">
	goto the top</button>
	</div>
</body>


</html>
